<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Sed cursus 
    rhoncus turpis, id iaculis magna vehicula 
    blandit. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per 
    inceptos himenaeos. Integer in sapien congue,
    ullamcorper erat eu, ultrices ex. Duis 
    lacinia justo ipsum, et volutpat turpis
    tempor et. Aliquam ac urna fermentum, 
    fermentum urna a, ultricies leo. Nulla 
    facilisi. Cras et nisl at augue lacinia 
    porta.
</p>