body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align:center;
}
table {
    margin: auto;
}
caption {
    margin: 20px;
}

td{
    display: inline-block;
    border: 1px solid black;
}